---
import "../styles/global.css";
import "@fontsource/public-sans";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Countdown to the end of Trump's final term in office." />
    <meta property="og:image" content="/og-image.png" />
    <meta property="twitter:image" content="/og-image.png" />
    <title>Trump Final Term Countdown</title>
    <script defer is:inline src="https://umami.tiborudvari.com/script.js" data-website-id="9fa3253d-7706-4afb-bb61-8c8949971fd9"></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
